@media screen and (device-width: 992px){
    .container {max-width: 960px;}
}
@media screen and (device-width:768px){
        .container {max-width: 720px;}
}
@media screen and (device-width:576px) {
            .container {max-width: 540px;}
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: #fcfcfc;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h3{
     font-size: 1.5em;
 }
h2{
     font-size: 2em;
}

.container{
    display: block;
    margin: 1em auto;
    width: 900px;
    max-width: 100%;
}
.text-center{
text-align: center;

}
.control {
    margin-top: 20px;

}
